%table.table.table-sm.table-striped.table-hover
  %tbody
    %tr
      %th Metal
      %td= ring.metal

    %tr
      %th Size
      %td= ring.size

    - if ring.owner.try(:shipping_address).present?
      %tr
        %th Shipping Address
        %td= ring.owner.shipping_address.to_html

    - if ring.was_submitted?
      %tr
        %th Submitted
        %td= ring.submitted_at&.strftime('%F') || '-'

      %tr
        %th Issued
        %td= ring.issued_at&.strftime('%F') || 'Not Issued'
