-# In progress
- existing = EffectiveProducts.StampWizard.in_progress.for(current_user).first
- completed = EffectiveResources.best('EffectiveStampWizardsDatatable').new(self, namespace: :effective)

%h2= ets(EffectiveProducts.StampWizard)

- if existing.present?
  %p Your request is in progress.

  %p
    Please
    = link_to("Continue #{existing}", effective_products.stamp_wizard_build_path(existing, existing.next_step), 'data-turbolinks' => false, class: 'btn btn-primary')
    or you can
    = link_to('Abandon', effective_products.stamp_wizard_path(existing), 'data-confirm': "Really delete #{existing}?", 'data-method': :delete, class: 'btn btn-danger')
    to start over.

  %hr

= yield

- if completed.present?
  %p You have completed these past #{ets(EffectiveProducts.StampWizard).downcase}:
  = render_simple_datatable(completed)
- else
  %p You have no past #{ets(EffectiveProducts.StampWizard).downcase}. When you do, we'll show them here.

- if existing.blank?
  %p= link_to "Start #{et(EffectiveProducts.StampWizard)}", effective_products.new_stamp_wizard_path, class: 'btn btn-primary'
