= wizard_card(stamp_wizard) do
  = effective_table_with(stamp_wizard.stamp, only: [:owner, :category, :shipping_address, :name, :name_confirmation]) do |f|
    = f.content_for :owner, label: 'User' do
      - owner = f.object.owner

      = owner.to_s

      - if owner.try(:email).present?
        %br
        = mail_to(owner.email)

      - if owner.try(:phone).present?
        %br
        = owner.phone

      - if owner.try(:membership).try(:number).present?
        %br
        Member Number #{owner.membership.number}
