= render 'layout' do
  = render 'effective/stamp_wizards/content', resource: resource

  - raise('expected a submitted resource') unless resource.was_submitted?
  - raise('expected a purchased resource submit_order') unless resource.submit_order&.was_purchased?

  .alert.alert-success.mb-4
    Successfully submitted on #{resource.submit_order.purchased_at.strftime('%F')}.

  .mb-4= link_to "Return to Dashboard", return_to_dashboard_path, class: 'btn btn-lg btn-primary btn-block'

  = render 'effective/stamp_wizards/summary', stamp_wizard: resource
  = render 'effective/stamp_wizards/stamp_wizard', stamp_wizard: resource

  .mb-4
    = collapse('Show order...', card_class: 'my-2') do
      = render 'effective/stamp_wizards/orders', stamp_wizard: resource

  = link_to "Return to Dashboard", return_to_dashboard_path, class: 'btn btn-lg btn-primary btn-block'
