= card('Ring') do
  - ring = ring_wizard.ring

  %table.table.table-sm
    %tbody
      %tr
        %th Contact Info
        %td
          #{ring.first_name} #{ring.last_name}
          %br
          = mail_to(ring.email)
          %br
          = ring.phone

      %tr
        %th Address
        %td= ring.shipping_address.to_html

      %tr
        %th Member Number
        %td= ring_wizard.owner.membership&.number || 'None'

      %tr
        %th Metal
        %td= ring.metal

      %tr
        %th Size
        %td Size #{ring.size}
