= card('Ring') do
  - ring = ring_wizard.ring
  - owner = ring_wizard.owner

  %table.table.table-sm
    %tbody
      %tr
        %th Owner
        %td
          = owner.to_s
          - if owner.try(:email).present?
            %br
            = mail_to(owner.email)

          - if owner.try(:phone).present?
            %br
            = owner.phone

          - if owner.try(:membership).try(:number).present?
            %br
            Member Number #{owner.membership.number}

      %tr
        %th Address
        %td= ring.shipping_address.to_html

      %tr
        %th Metal
        %td= ring.metal

      %tr
        %th Size
        %td Size #{ring.size}
