= card('Ring Payment') do
  - ring = ring_wizard.ring

  %table.table.table-sm
    %tbody
      - if request.path.start_with?('/admin')
        %tr
          %th Owner
          %td
            - url = (polymorphic_admin_path(ring_wizard.owner) rescue "/admin/users/#{ring_wizard.owner.to_param}/edit")
            = link_to(ring_wizard.owner, url)
      - else
        %tr
          %th Owner
          %td= ring_wizard.owner

      - if ring_wizard.orders.present?
        %tr
          %th Order
          %td
            - ring_wizard.orders.each do |order|
              = link_to(order, effective_orders.order_path(order))

      - if ring_wizard.was_submitted?
        %tr
          %th Submitted
          %td= ring_wizard.submitted_at.strftime('%F')

        %tr
          %th Issued
          %td= ring.issued_at&.strftime('%F') || 'Not Issued'
