= render 'layout' do
  = render 'effective/ring_wizards/content', resource: resource

  = card do
    .mb-2= render('ring_requirements', ring_wizard: resource)

    = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
      = f.hidden_field :id

      = render('effective/ring_wizards/ring_fields', f: f)

      = f.save 'Save and Continue'
