= render 'layout' do
  = render 'effective/ring_wizards/content', resource: resource

  .card
    .card-body
      = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
        = f.hidden_field :id

        = f.fields_for :rings, (f.object.ring || f.object.build_ring) do |fr|
          = fr.hidden_field :ring_wizard_id
          = fr.hidden_field :ring_wizard_type

          = fr.hidden_field :owner_id
          = fr.hidden_field :owner_type

          = render('effective/ring_wizards/ring_fields', f: fr)

        = f.save 'Save and Continue'
