-# In progress payments
- existing = EffectiveProducts.RingPayment.in_progress.for(current_user).first
- datatable = EffectiveResources.best('EffectiveRingPaymentsDatatable').new(self, namespace: :effective)

- if existing.present?
  %h2 In Progress Ring Payments

  %p Your payment for Professional Ring is incomplete

  %p
    Please
    = link_to("Continue payment for #{existing}", effective_products.ring_payment_build_path(existing, existing.next_step), 'data-turbolinks' => false, class: 'btn btn-primary')
    or you can
    = link_to('Abandon registration', effective_products.ring_payment_path(existing), 'data-confirm': "Really delete #{existing}?", 'data-method': :delete, class: 'btn btn-danger')
    to start over.

  %hr

%h2 Ring Payments

- if datatable.present?
  = render_simple_datatable(datatable)
- else
  %p You have no past ring payments. When you do, we'll show them here.

- if existing.blank?
  %p= link_to 'Order a Professional Ring', effective_products.new_ring_payment_path, class: 'btn btn-primary'
