%table.table
  %tbody
    %tr
      %th Owner
      %td
        - url = (edit_polymorphic_path(ring.owner) rescue "/admin/users/#{ring.owner.to_param}/edit")
        = link_to(ring.owner, url)

    %tr
      %th Purchased Order
      %td
        - if ring.purchased_order.present?
          = link_to(ring.purchased_order, effective_orders.admin_order_path(ring.purchased_order))
    %tr
      %th First Name
      %td= ring.first_name
    %tr
      %th Last Name
      %td= ring.last_name
    %tr
      %th Phone
      %td= ring.phone
    %tr
      %th Email
      %td= ring.email
    %tr
      %th Member Number
      %td= ring.owner.try(:membership).try(:number) || '-'
    %tr
      %th Address
      %td= ring.shipping_address.to_html
    %tr
      %th Size
      %td= ring.size
    %tr
      %th Metal
      %td= ring.metal
    %tr
      %th Issued At
      %td= ring.issued_at
