= effective_form_with(model: [:admin, stamp], engine: true) do |f|
  - f.object.owner_type ||= current_user.class.name
  = f.hidden_field :owner_type

  - if inline_datatable?
    = f.hidden_field :owner_id
  - else
    - ajax_url = (effective_resources.users_effective_ajax_index_path(scope: :members) unless Rails.env.test?)

    = f.select :owner_id, current_user.class.all, label: 'User', ajax_url: ajax_url,
      'data-load-ajax-url': effective_products.new_admin_stamp_path,
      'data-load-ajax-div': '#effective-stamps-ajax'

  - if f.object.new_record?
    = f.hidden_field :created_by_admin, value: true

  #effective-stamps-ajax
    = render 'effective/stamps/fields', f: f, stamp: f.object

    - if f.object.new_record?
      = f.submit 'Save and Mark Paid'
    - else
      = effective_submit(f)
